* {
    -purple-500: #4F46E5;
    -purple-600: #6366F1;
    -purple-600-darker1: #4043ca;
    -purple-600-darker2: #3335a8;
    -purple-700: #4338CA;
    -purple-900: #1E1B4B;
    -white: #FFFFFF;
    -popup-bg: rgba(30, 27, 75, 0.4);
    -choiceBox-bg : rgba(79,70,229, 0.5);
    -red: #D02A2A;
    -red-darker1: #b61a1a;
    -red-darker2: #9a0e0e;
    -kursi-wrapper: #352F93;
    -kursi-select: #EDA41D;
    -kursi-select-darker1: #cf8b0f;
    -kursi-select-darker2: #9f6a07;
}