@import "colors.css";

.combo-box {
    -fx-background-color: -choiceBox-bg; /* Warna latar belakang */
    -fx-font-color: white; /* Warna teks */
    -fx-font-size: 20px; /* Ukuran font */
    -fx-padding: 10px; /* Padding di dalam ChoiceBox */
    -fx-border-color: #ffffff; /* Warna border */
    -fx-border-width: 2px; /* Lebar border */
    -fx-border-radius: 5px; /* Sudut border */
}

.combo-box:hover {
    -fx-cursor: hand;
}

.combo-box .list-cell:filled {
    -fx-text-fill: white; /* Warna teks */
    -fx-font-weight: bold;
}

.combo-box .list-view {
    -fx-background-color: #FFFFFF; /* Warna latar belakang dropdown */
    -fx-text-fill: black; /* Warna teks dropdown */
}

.combo-box .list-view .cell {
    -fx-background-color: #4F46E5; /* Warna latar belakang setiap item */
    -fx-text-fill: white; /* Warna teks setiap item */
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.combo-box .list-view .cell:hover {
    -fx-background-color: #1E1B4B; /* Warna latar belakang saat hover */
}

.combo-box .arrow {
    -fx-background-color: white;
}

#buttonDenah{
    -fx-background-color: -choiceBox-bg; /* Warna latar belakang */
    -fx-text-fill: white; /* Warna teks */
    -fx-font-size: 14px; /* Ukuran font */
    -fx-padding: 10px; /* Padding di dalam ChoiceBox */
    -fx-border-color: #ffffff; /* Warna border */
    -fx-border-width: 2px; /* Lebar border */
    -fx-border-radius: 5px; /* Sudut border */
}

#buttonDenah:hover {
    -fx-background-color: rgba(79,70,229, 0.2); /* Warna latar belakang */
    -fx-text-fill: white; /* Warna teks */
    -fx-font-size: 14px; /* Ukuran font */
    -fx-padding: 10px; /* Padding di dalam ChoiceBox */
    -fx-border-color: #ffffff; /* Warna border */
    -fx-border-width: 2px; /* Lebar border */
    -fx-border-radius: 5px; /* Sudut border */
    -fx-cursor: hand;
}

#btnPesan {
    -fx-background-color: white; /* Warna latar belakang */
    -fx-text-fill: -purple-700; /* Warna teks */
    -fx-font-size: 14px; /* Ukuran font */
    -fx-padding: 10px; /* Padding di dalam ChoiceBox */
    -fx-border-color: #ffffff; /* Warna border */
    -fx-border-width: 2px; /* Lebar border */
    -fx-border-radius: 5px; /* Sudut border */
}

#btnPesan:hover {
    -fx-background-color: rgba(79,70,229, 0.2); /* Warna latar belakang */
    -fx-text-fill: white; /* Warna teks */
    -fx-font-size: 14px; /* Ukuran font */
    -fx-padding: 10px; /* Padding di dalam ChoiceBox */
    -fx-border-color: #ffffff; /* Warna border */
    -fx-border-width: 2px; /* Lebar border */
    -fx-border-radius: 5px; /* Sudut border */
    -fx-cursor: hand;
}